/* ========back top=========== */

.backtop{
position: fixed;
z-index: 99;
/* background-color: #000; */
right: 5px;
bottom: 30px;
font-size: 60px;
color: #78e966;
opacity: 0.7;
}

/* =========== body 1 start============ */
.body1{
    width: 100%;
    height: 652px;
    background-image: url(imgsr-20230226T055642Z-001/imgsr/nen.png);
    background-size: cover;
    display: flex;
}
.body1 .content1{

    /* border: 2px solid black; */
    width: 46%;
    height: 98%;
    margin-left: 2%;
    
}
.body1 .content1 .title{
    font-weight: bolder;
    color: var(--colorBGR);
    font-size: 75px;
    width: 100%;
    border-bottom: var(--colorBGR) 1px ridge;
  

}
.body1 .content1 .ctn{
    
    font-weight: bolder;
    color: var(--colorBGR);
    font-size: 30px;
    width: 100%;
    line-height: 170%;
    padding-left: 3%;
    margin-top: -5%;

}
.body1 .content2{
    /* border: 2px solid black; */
    width: 49%;
    height: 98%;
    overflow: hidden;
}

.content2 div{
    height: 500px;
    width: 600px;
    position: relative;
    /* background-color: aqua; */
    margin-top: 15%;
    
}
.dv{
width: 88%;
/* height: 100%; */
position: absolute;
animation: xoay 25s linear infinite;
/* border: 2px red solid; */
z-index: 9;
margin-left: 10%;
}
.may{
    width: 88%;
    /* height: 100%; */
position: absolute;
animation: xoaymay 30s linear  infinite;
/* border: 2px black solid; */
margin-left: 10%;

}
.td{
    width: 88%;
    /* height: 100%; */
position: absolute;
animation: xoay 25s linear infinite;
/* border: 2px yellow solid; */
margin-left: 10%;
}
@keyframes xoay {
100%{
transform: rotate(360deg);
}


}
@keyframes xoaymay {
100%{
transform: rotate(-360deg);
}
}
/* =========== body 1 end ============ */
/* =========== body 2 start ============ */
.body2{

    width: 100%;
    height: 625px;
    background-color: var(--colorBGR);
    margin-top: -2%;
}
.body2 ul{
    /* display: flex;
    justify-content: space-around; */
    display: block;
    list-style-type: none;
    height: 100%;
    /* background-color: #000; */
    position: absolute;
    z-index: 9;
    
}
.body2 li{
    margin-bottom: 1%;
}
.body2 a img{
    width: 10%;
    filter: grayscale(90%);
    transition: all 1s;

}
.body2 a img:hover{
    
    filter: initial;
    animation: lac 2s 3 ease-in-out;
}
@keyframes lac {   
    0%{
        transform: rotate(-7deg);
    } 
    50%{
        transform: rotate(7deg);
    } 
    100%{
        transform: rotate(-7deg);
    } 
    
}

.active a img{
    width: 14%;
    filter: grayscale(10%);

}
#chiu{
    width: 11%;

}

.active a #chiu {

    
    width: 15%;
}

/* ======content tab======== */
.tabparentcontent{
    /* background-color: yellowgreen; */
    height: 70%;
    margin-top: -1%;
}

.tabcontent{
display: none;
width: 50%;
height: 100%;
position: relative;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
color: #666261;
/* background-color: aqua; */

}

.title-banbietgichua{

    font-size: 60px;
    text-shadow: 2px 2px 2px #fff, 4px 4px 10px #000;
    margin-left: 7%;
    margin-top: 2%;
    word-spacing: 15px;



}

.title-banbietgichua span{
    color: #30492C;
    margin-left: 22%;
    
}
.content-banbietgichua{

    width: 90%;
    margin-left: 10%;
    color: #30492C;
    line-height: 35px;
    font-size: 25px;
    margin-top: 4%;

}
.content-banbietgichua span{
    font-size: 30px;
    color: #49a83b;

}
#tab1{
display: block;
width: 100%;
/* background-color: red; */
height: 100%;

}
.banchuabiet{
    /* background-color: violet; */
    height: 90%;
    width: 54%;
    position: absolute;
    top: 25%;
    z-index: 9;
    left: 200px;
    /* background-color: aqua; */
}
.imgbanchuabiet{
    /* background-color: yellow; */
    height: 90%;
    width: 46%;
    position: absolute;
    right: 0px;
    top :30%;

}
.imgbanchuabiet img{

    width: 70%;
    margin-top: 18%;
    margin-left: 30%;
}
#hinhgau{

    width: 60%;
    margin-top: 0%;
    margin-left: 30%;

}
.tete{
    filter: grayscale(20%);
}
#tegiac{
    width: 60%;
    margin-left: 27.1%;
    margin-top: -10%;
}
#ho{
    width: 60%;
    margin-top: -15%;

}

/* =========== body 2 end ============ */

/* =============body 3 start =============== */
.body3{

    width: 100%;
    height: 628px;
}
.body3 img{

    width: 100%;
    height: 100%;

}

/* =============body 3 end =============== */
/* =============body 4 start =============== */

.body4{
    /* background-color: var(--colorBGR); */
    width: 100%;
    height: 628px;
    background-color: #f1eac2c7;
    display: flex;
}
.body4-content{
    width: 60%;
    height: 100%;
    /* background-color: #49a83b; */
}
.body4-content1{
    /* background-color: #c6e4c123; */
    width: 90%;
    margin-left: 3%;
    margin-top: 5%;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 5px  #3f423f75 ;
}

.body4 h3{
font-size: 40px;
color: #275320;


}
.body4-content1 p{
    font-size: 30px;
    width: 92%;
    font-weight: 700;

}
.body4-content1 span{
    color: red;
    font-size: 35px;

}

.line{
    display: flex;
    /* border: #000 solid 2px; */
    margin: 2%;
    
}
input{
    width: 70%;
    height: 40px;
    border: #f3edccc7;
    border-radius: 10px;
    box-shadow: 0 0 5px  #3f423f75 ;
    padding-left: 2%;
}
#gioitinh{
    
    width: 10%;
    height: 20px;
    cursor: pointer;
    margin-top: 0px;
    box-shadow: initial;

}
form{

margin-left: 15%;
/* display: none; */

}
#camket{
    color: white;
    background-color: #4aa83bda;
    cursor: pointer;
}
#camket:hover{
    background-color: #4aa83b;
}
.body4-img{

    width: 40%;
    height: 100%;
    /* background-color: #43b; */
    position: relative;

}
.body4-img img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px  #3f423f75 ;
 
}
.body4-img-sub{
    
    height: 30%;
    width: 48%;
    position: absolute;
    top: 2%;
    /* background-color: teal; */
}
.body4-img-sub img{
    border-radius: 5px;
}
.body4-img-sub2 img{
    border-radius: 5px;
}
.body4-img-sub3 img{
    border-radius: 5px;
}
.body4-img-sub4 img{
    border-radius: 5px;
}
.body4-img-sub5 img{
    border-radius: 5px;
}
.body4-img-sub6 img{
    border-radius: 5px;
}

.body4-img-sub2{
    position: absolute;
    border-radius: 5px;

    height: 30%;
    width: 48%;
    top: 2%;
    right: 1%;
    /* background-color: #000; */
}
.body4-img-sub3{
    position: absolute;
    border-radius: 5px;

    height: 36%;
    width: 99%;
    top: 34%;
    /* left: 15%; */
    /* background-color: yellow; */

}
.body4-img-sub4{
/* background-color: turquoise; */
position: absolute;
border-radius: 5px;

    height: 25%;
    width: 32%;
    bottom: 2%;
    left: 0%;

}
.body4-img-sub5{
/* background-color: violet; */
position: absolute;
border-radius: 5px;

    height: 25%;
    width: 32%;
    bottom: 2%;
    left: 33.5%;
}
.body4-img-sub6{
    /* background-color: #4aa83b; */
    position: absolute;
    border-radius: 5px;

    height: 25%;
    width: 32%;
    bottom: 2%;
    right: 1%;


}
.an{
    display: none;
    margin-left: 7%;
    margin-top: 15%;
    width: 70%;
    transition: all 1s ;
}
/* =============body 4 end =============== */

@media screen and (min-width:1440px ){

    .body1{
        height: 758px;
        
    }

    .body1 .title{
        font-size: 75px;


    }
    .ctn{
        width: 70%;
        margin: 0 20px;
        font-size: 35px;
    }
    .content2{

        padding-left: 7%;
        padding-top: 3%;

    }
    .body2{

        height: 750px;
    }
    .body3{
        height: 750px;
    }
    .body4{
        height: 750px;
    }
.body4-content2{
    padding-top: 7%;

}
.content-banbietgichua{
    font-size: 165%;
    width: 70%;
    line-height: 35px;
}

.imgbanchuabiet{
    width: 55%;
}


    
    
    

}
@media screen and (max-width:768px ){
  
    .body1 .content1 .title{
    
        font-size: 60px;
      
      
    
    }
    .body1 .content1 .ctn{
    
    
        font-size: 20px;
       
    
} 
.body2 a img{
    width: 20%;
   

}
.title-banbietgichua{

    font-size: 38px;
    
    margin-left: 15%;
    margin-top: -20%;
    

}
.content-banbietgichua{

    width: 70%;
    margin-left: -5%;
    color: #30492C;
    line-height: 35px;
    font-size: 18px;
    margin-top: 0%;

}

.imgbanchuabiet{
 
    height: 100%;
    width: 46%;
    position: absolute;
    right: 5px;
    top :50%;

}
.imgbanchuabiet img{

    width: 80%;
    margin-top: 33%;
    margin-left: 10%;
    /* background-color: #275320; */
}
#tegiac{
    width: 70%;
    margin-left: 27.1%;
    margin-top: -10%;
}
#ho{
    width: 70%;
    margin-top: -15%;
    margin-left: 15.1%;

}
#hinhgau{

    width: 80%;
    margin-top: 0%;
    margin-left: 20%;

}

.tete{

    width: 100%;
    margin-top: 0%;
    margin-left: 20%;

}


}

@media screen and (max-width:425px){
    .body1{
        position: relative;

    }
  
    .body1 .content1 .title{
    
        font-size: 40px;
      
      
    
    }
    .body1 .content1 .ctn{
    
    
        font-size: 20px;
       
    
} 
.body1 .content2{
    width: 65%;
    height: 98%;
    overflow: hidden;
    position: absolute;
    right: -3%;
    top: 33%;
}

.content2 div{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: aqua; */
    margin-top: 15%;
    
}


.body2 a img{
    width: 30%;
   margin-left: -10%;

}
.title-banbietgichua{

    font-size: 25px;
    /* background-color: #000; */
    width: 130%;
    margin-left: -39%;
    margin-top: -20%;
    

}
.content-banbietgichua{

    width: 75%;
    margin-left: -35%;
    color: #30492C;
    line-height: 25px;
    font-size: 13px;
    margin-top: 0%;

}
.content-banbietgichua span{

    font-size: 29px;

}

.imgbanchuabiet{
 
    height: 100%;
    width: 46%;
    position: absolute;
    right: 5px;
    top :50%;

}
.imgbanchuabiet img{

    width: 80%;
    margin-top: 33%;
    margin-left: 10%;
    /* background-color: #275320; */
}
#tegiac{
    width: 70%;
    margin-left: 27.1%;
    margin-top: -10%;
}
#ho{
    width: 70%;
    margin-top: -15%;
    margin-left: 20.1%;

}
#hinhgau{

    width: 80%;
    margin-top: 0%;
    margin-left: 20%;

}

.tete{

    width: 100%;
    margin-top: 0%;
    margin-left: 50%;

}
.body3{

    width: 100%;
    height: 538px;
}
.body3 img{

    width: 100%;
    height: 100%;

}



.body4{
 
    width: 100%;
    height: 538px;

}
.body4-content{
    width: 60%;
    height: 100%;
   
}
.body4-content1{
    background-color: #c6e4c123;
    width: 90%;
    margin-left: 3%;
    margin-top: 5%;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 5px  #3f423f75 ;
    
}

.body4 h3{
font-size: 25px;
color: #275320;


}
.body4-content1 p{
    font-size: 20px;
    width: 92%;
    font-weight: 700;

}
.body4-content1 span{
    color: red;
    font-size: 35px;

}

.line{
    display: flex;
    /* border: #000 solid 2px; */
    margin: 2%;
    
}
input{
    width: 70%;
    height: 40px;
    border: #f3edccc7;
    border-radius: 10px;
    box-shadow: 0 0 5px  #3f423f75 ;
    padding-left: 2%;
}
#gioitinh{
    
    width: 10%;
    height: 20px;
    cursor: pointer;
    margin-top: 0px;
    box-shadow: initial;

}
form{

margin-left: 15%;
/* display: none; */

}




}
